---
import Cake from './Cake.astro'
import MicMeter from './MicMeter.astro'
import ImagePopup from './ImagePopup.astro'
import happyMessage from '../assets/tinified/happy-message.png'
---

<div class="flex flex-col items-center justify-center min-h-screen gap-8">
    <img src={happyMessage.src} alt="Happy Birthday" class="w-full max-w-md px-4" />
    <Cake />
    <MicMeter />
</div>

<ImagePopup />