---
import Cake from './Cake.astro'
import MicMeter from './MicMeter.astro'
import ImagePopup from './ImagePopup.astro'
---

<div class="flex flex-col items-center justify-center min-h-screen gap-8">
    <h1>Happy Birthday</h1>
    <Cake />
    <MicMeter />
</div>

<ImagePopup />